<header class="header">
<ul clearfix>
  <li class="left">tweet sample</li>
</ul>
</header>
<section class="about">
<h2>tweet内容を編集する</h2>
  <%= render 'form' %>
  <%= link_to "tweet一覧にもどる", blogs_path %>
</section>
<footer>
  <p>運営 tsukinoki
</footer>